* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  height: 100vh;
  background-image: url("./images/desktop/image-header.jpg");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.navigation {
  display: flex;
  padding: 30px 30px;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 4vw;
}

.nav-links .link:last-child {
  background-color: #28b7dd;
  padding: 10px 20px;
  border-radius: 50px;
}

.link {
  list-style-type: none;
}

.link:hover {
  color: lightgray;
  cursor: pointer;
}

.header-text {
  text-align: center;
  margin-top: 50px;
  font-size: 2.5rem;
}

.arrow-down-icon {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* container-one styles  */
.image-box-mobile {
  display: none;
}
.image-box {
  margin-bottom: -5px;
}

.container-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-one .image-box img {
  width: 100%;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.text-box-container {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-box h2 {
  color: #191919;
  font-size: 3rem;
}

.text-box p {
  color: #878787;
}
.text-box a {
  color: #5e5e5e;
  text-decoration: none;
}

.container-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-two .image-box img {
  width: 100%;
}

/* container three styles  */
.image-box-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-box-desktop .image-box img {
  width: 100%;
}

.image-box-desktop .image-box,
.image-box-mobile-container-three,
.image-box {
  position: relative;
}

.image-box-desktop .image-box .image-text {
  position: absolute;
  top: 60%;
}

.image-box-desktop .image-box .image-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.image-box-desktop .image-box .image-text h3 {
  font-size: 25px;
  color: #191919;
}

.image-box-desktop .image-box .image-text p {
  max-width: 52%;
  text-align: center;
  color: #878787;
  font-size: 18px;
}

.image-box-mobile-container-three {
  display: none;
}

/* slide container section  */
.slide-container-section {
  position: relative;
  padding: 100px;
}

.slide-container-section h2 {
  color: #808080;
}

.slides address {
  color: #445248;
}

.slides p {
  color: #323232;
}

.slides address p {
  color: #8b7575;
}

.slide-container-section h2 {
  text-align: center;
  margin-bottom: 50px;
}

.arrow {
  position: absolute;
  width: 80px;
  cursor: pointer;
}

.right {
  right: 15%;
  top: 50%;
}
.left {
  left: 15%;
  top: 50%;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slides-container {
  display: flex;
  transition: 0.3s ease-in-out;
  width: 100%;
}

.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 60px 0px 60px 0px;
  min-width: 100%;
  height: 100%;
}
.slides img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

/* gallery section  */
.gallery_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery_section img {
  width: 100%;
}

@media (max-width: 600px) {
  .main-header {
    background-image: url("./images/mobile/image-header.jpg");
  }

  .nav-links,
  .logo-text {
    display: none;
  }
  .header-text {
    font-size: 1rem;
  }
  .arrow-down-icon {
    height: 40px;
    width: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header-text {
    margin-top: 20px;
  }

  /* container one style  */
  .container-one {
    display: flex;
    flex-direction: column;
    margin-bottom: -5px;
  }
  .image-box-mobile {
    display: block;
  }
  .image-box-mobile img {
    width: 100%;
  }
  .image-box {
    display: none;
  }

  .text-box-container {
    gap: 15px;
    padding: 20px;
  }

  .text-box h2 {
    font-size: 1.5rem;
  }

  /* container two styles  */
  .container-two {
    grid-template-columns: auto;
  }

  /* container three styles  */
  .container-three .image-box-desktop {
    display: none;
  }
  .container-three .image-box-mobile-container-three {
    display: flex;
    flex-direction: column;
  }

  .container-three .image-box-mobile-container-three .image-box-mobile {
    position: relative;
  }

  .container-three .image-box-mobile-container-three .image-box-mobile img {
    height: 70vh;
  }

  .container-three .image-box-mobile-container-three .image-text {
    position: absolute;
    top: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .container-three .image-box-mobile-container-three .image-text p {
    max-width: 70%;
    text-align: center;
  }

  /* slider section  */
  .slide-container-section {
    padding: 50px;
  }

  .arrow {
    width: 50px;
  }

  .right {
    right: 5%;
  }
  .left {
    left: 5%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .text-box h2 {
    color: #191919;
    font-size: 1rem;
  }

  .text-box p {
    color: #878787;
    font-size: 12px;
  }
  .text-box a {
    color: #5e5e5e;
    text-decoration: none;
    font-size: 10px;
  }

  .image-box-desktop .image-box .image-text h3 {
    font-size: 16px;
  }

  .image-box-desktop .image-box .image-text p {
    font-size: 12px;
  }

  .image-box-desktop .image-box .image-text {
    position: absolute;
    top: 55%;
  }
  .right {
    right: 5%;
  }
  .left {
    left: 5%;
  }
}
